body {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  // background-image: linear-gradient(#e66465, #9198e5);
}

h1 {
  width: 100%;
  font-size: 3rem;
  font-weight: 300;
  height: 100px;
}

.select-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.select-box {
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 15px 30px;
  display: flex;
  align-items: center;
  margin: 10px;
}

label {
  margin-right: 5px;
}

.hexbox-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.hex {
  flex-basis: 50%;
  font-size: 2rem;
}
